   <!-- Content Scroll -->
   <header class="classic-menu"><app-header></app-header></header><div id="content-scroll">
            
            
    <!-- Main -->
    <div id="main">
    
        <!-- Hero Section -->
        <div id="hero" class="">
            <div id="hero-styles" class="parallax-onscroll">
                <div id="hero-caption">
                    <div class="inner text-align-center">
                        <div class="hero-subtitle">Get in touch</div> 
                        <div class="hero-title">
                            <span>C</span>
                            <span>O</span>
                            <span>N</span>
                            <span>T</span>
                            <span>A</span>
                            <span>C</span>
                            <span>T</span>	
                        </div>                                
                    </div>
                </div>                                            
            </div>
        </div>                      
        <!--/Hero Section -->   
             
        
        <!-- Main Content -->
        <div id="main-content">
            <!-- Main Page Content -->
            <div id="main-page-content">                        
                
                
                <!-- Row -->
                <div class="vc_row row_padding_all full">
                
                    <div id="map_canvas"></div>
                        
                </div>
                <!--/Row -->
                
                
                <!-- Row -->
                <div class="vc_row small text-align-center">
                    
                    <h2 class="has-mask" data-delay="10">Let's Talk</h2>
                        
                    <!-- Contact Formular -->
                    <div id="contact-formular">
                    
                        <div id="message"></div>
                    
                        <form method="post" action="contact.php" name="contactform" id="contactform">                             
                            <div class="name-box has-animation" data-delay="100">        
                                <input name="name" type="text" id="name" size="30" value="" placeholder="What's Your Name"><label class="input_label"></label>
                            </div>                                                        
                            <div class="email-box has-animation" data-delay="150">
                                <input name="email" type="text" id="email" size="30" value="" placeholder="Your Email"><label class="input_label"></label>
                            </div>                            
                            <div class="message-box has-animation" data-delay="100">
                                <textarea name="comments" cols="40" rows="4" id="comments" placeholder="Tell Us About Your Project" ></textarea><label class="input_label slow"></label>
                            </div>                             
                            <div class="button-box has-animation" data-delay="100">             
                                <div class="clapat-button-wrap parallax-wrap hide-ball">
                                    <div class="clapat-button parallax-element">
                                        <div class="button-border outline rounded parallax-element-second"><input type="submit" class="send_message" id="submit" value="Submit" /></div>
                                    </div>
                                </div> 
                            </div>
                        </form>                        
                                                
                    </div>
                    <!--/Contact Formular -->
                    
                </div>
                <!--/Row -->
                
                <!-- Row -->
                <div class="vc_row text-align-center row_padding_top small">
                            
                    <div class="one_third has-animation"  data-delay="100">
                        <div class="clapat-icon">
                            <i class="fa fa-paper-plane fa-2x" aria-hidden="true"></i>
                        </div>
                    
                        <h6><a href="mailto:office@satelite.com" class="link"><span>office@satelite.com</span></a></h6>
                        <p>Email</p>                        
                    </div>
                    
                    <div class="one_third has-animation"  data-delay="200">
                        <div class="clapat-icon">
                            <i class="fa fa-map-marker fa-2x" aria-hidden="true"></i>
                        </div>
                    
                        <h6>35 M St, New York, 105, USA</h6>
                        <p>Address</p>                        
                    </div>
                    
                    <div class=" one_third last has-animation"  data-delay="300">
                        <div class="clapat-icon">
                            <i class="fa fa-phone fa-2x" aria-hidden="true"></i>
                        </div>
                    
                        <h6>0040 (7763) 574-8901</h6>
                        <p>Phone</p>
                    </div>
                    
                    <hr><hr>
                    
                </div>
                <!--/Row -->
            
            
            </div>
            <!--/Main Page Content -->                     
            
            <!-- Page Navigation --> 
            <div id="page-nav">
                <div class="next-page-wrap">
                    <div class="next-page-title">
                        <div class="inner text-align-center">
                            <div class="page-subtitle has-animation" data-delay="100">
                                <div class="subtitle-info">See More Works</div>
                                <div class="subtitle-name">Our best works</div>
                            </div>
                            <a class="page-title has-animation hide-ball next-ajax-link-page"  routerLink="/portfolio" data-delay="150">
                                <span>P</span>
                                <span>O</span>
                                <span>R</span>
                                <span>T</span>
                                <span>F</span>
                                <span>O</span>
                                <span>L</span>
                                <span>I</span>
                                <span>O</span>
                            </a>             
                        </div>                   
                    </div>
                </div>
            </div>      
            <!--/Page Navigation -->
                                    
                    
        </div>
        <!--/Main Content --> 
    </div>
    <!--/Main --> 
    
    
    <!-- Footer -->
    <footer class="hidden"><app-footer-hidden></app-footer-hidden></footer>
    <!--/Footer -->


</div>
<!--/Content Scroll -->