<!-- Content Scroll -->
<header class="fullscreen-menu">
    
    <div id="header-container">
    
    
        <!-- Logo -->
        <div id="logo" class="hide-ball">
            <a class="ajax-link"  routerLink="/">
                <img class="black-logo" src="assets/images/logo.png" alt="ClaPat Logo">
                <img class="white-logo" src="assets/images/logo-white.png" alt="ClaPat Logo">
            </a>
        </div>
        <!--/Logo -->             
        
        <!-- Navigation -->
        <nav> 
            <div class="nav-height">
                <div class="outer">
                    <div class="inner">           
                        <ul data-breakpoint="10025" class="flexnav">
                            <li class="link menu-timeline"><a ><span data-hover="Works">Works</span></a>
                                <ul>
                                    <li><a class="ajax-link active" routerLink="/" >Fullscreen Slider</a></li>
                                    <li><a class="ajax-link" routerLink="/carousel" >Small Carousel</a></li>
                                    <li><a class="ajax-link" routerLink="/large-carousel" >Large Carousel</a></li>
                                    <li><a class="ajax-link" routerLink="/portfolio" >Classic Portfolio</a></li>
                                    <li><a class="ajax-link" routerLink="/index-full" >Fullscreen Menu</a></li>
                                </ul>
                            </li>                           
                            <li class="link menu-timeline"><a class="ajax-link"  routerLink="/about"><span data-hover="About">About</span></a></li>                        
                            <li class="link menu-timeline"><a class="ajax-link"  routerLink="/contact"><span data-hover="Contact">Contact</span></a></li>
                            <li class="link menu-timeline buy-item"><a target="_blank" href="https://themeforest.net/item/satelite-creative-ajax-portfolio-showcase-slider-template/23155838"><span data-hover="Buy Now">Buy Now</span></a></li>               
                        </ul>            
                    </div>
                </div> 
            </div>          
        </nav>
        <!--/Navigation -->
        
        <!-- Menu Burger -->
        <div id="burger-wrapper" class="parallax-wrap">
            <div id="menu-burger" class="parallax-element">
                <span></span>
                <span></span>
            </div>
        </div>
        <!--/Menu Burger -->
    
        </div>
</header>
<div id="content-scroll">


    <!-- Main -->
    <div id="main">
        <!-- Main Content -->
        <div id="main-content">



            <!-- Showcase Holder -->
            <div id="showcase-holder">
                <div id="showcase-tilt-wrap">
                    <div id="showcase-tilt">
                        <div id="showcase-slider" class="swiper-container">
                            <div class="swiper-wrapper">


                                <!-- Section Slide -->
                                <div class="swiper-slide" data-title="THE QUEEN" data-subtitle="Photography"
                                    data-number="01">
                                    <div class="img-mask">
                                        <div class="section-image" data-src="assets/images/01hero.jpg"></div>
                                    </div>
                                    <a class="showcase-link-project" 
                                        routerLink="/project01"></a>
                                </div>
                                <!--/Section Slide -->


                                <!-- Section Slide -->
                                <div class="swiper-slide" data-title="DARK PATH" data-subtitle="Photography"
                                    data-number="02">
                                    <div class="img-mask">
                                        <div class="section-image" data-src="assets/images/02hero.jpg"></div>
                                    </div>
                                    <a class="showcase-link-project" 
                                        routerLink="/project02"></a>
                                </div>
                                <!--/Section Slide -->


                                <!-- Section Slide -->
                                <div class="swiper-slide bg-video" data-title="ELIE SAAB" data-subtitle="Video"
                                    data-number="03">
                                    <div class="img-mask">
                                        <div class="section-image" data-src="assets/images/03hero.jpg">
                                            <div class="hero-video-wrapper">
                                                <video loop muted class="bgvid">
                                                    <source
                                                        src="http://mathematic.tv/wp-content/uploads/2017/05/ELIE_SAAB_40s_LOOP-preview.mp4"
                                                        type="video/mp4">
                                                    <source
                                                        src="http://mathematic.tv/wp-content/uploads/2017/05/ELIE_SAAB_40s_LOOP-preview.webm"
                                                        type="video/webm">
                                                </video>
                                            </div>
                                        </div>
                                    </div>
                                    <a class="showcase-link-project" 
                                        routerLink="/project03"></a>
                                </div>
                                <!--/Section Slide -->


                                <!-- Section Slide -->
                                <div class="swiper-slide" data-title="LADY IN RED" data-subtitle="Design"
                                    data-number="04">
                                    <div class="img-mask">
                                        <div class="section-image" data-src="assets/images/04hero.jpg"></div>
                                    </div>
                                    <a class="showcase-link-project" 
                                        routerLink="/project04"></a>
                                </div>
                                <!--/Section Slide -->


                                <!-- Section Slide -->
                                <div class="swiper-slide" data-title="INFO BUGS" data-subtitle="Design"
                                    data-number="05">
                                    <div class="img-mask">
                                        <div class="section-image" data-src="assets/images/05hero.jpg"></div>
                                    </div>
                                    <a class="showcase-link-project" 
                                        routerLink="/project05"></a>
                                </div>
                                <!--/Section Slide -->


                                <!-- Section Slide -->
                                <div class="swiper-slide" data-title="NEON DUDE" data-subtitle="Photography"
                                    data-number="06">
                                    <div class="img-mask">
                                        <div class="section-image" data-src="assets/images/06hero.jpg"></div>
                                    </div>
                                    <a class="showcase-link-project" 
                                        routerLink="/project06"></a>
                                </div>
                                <!--/Section Slide -->


                                <!-- Section Slide -->
                                <div class="swiper-slide" data-title="SPORT BLACK" data-subtitle="Design"
                                    data-number="07">
                                    <div class="img-mask">
                                        <div class="section-image" data-src="assets/images/07hero.jpg"></div>
                                    </div>
                                    <a class="showcase-link-project" 
                                        routerLink="/project07"></a>
                                </div>
                                <!--/Section Slide -->


                                <!-- Section Slide -->
                                <div class="swiper-slide" data-title="WILD HORSE" data-subtitle="Photography"
                                    data-number="08">
                                    <div class="img-mask">
                                        <div class="section-image" data-src="assets/images/08hero.jpg"></div>
                                    </div>
                                    <a class="showcase-link-project" 
                                        routerLink="/project08"></a>
                                </div>
                                <!--/Section Slide -->


                                <!-- Section Slide -->
                                <div class="swiper-slide" data-title="FOREST HOUSE" data-subtitle="Architecture"
                                    data-number="09">
                                    <div class="img-mask">
                                        <div class="section-image" data-src="assets/images/09hero.jpg"></div>
                                    </div>
                                    <a class="showcase-link-project" 
                                        routerLink="/project09"></a>
                                </div>
                                <!--/Section Slide -->


                                <!-- Section Slide -->
                                <div class="swiper-slide" data-title="THUNDER STRIKE" data-subtitle="Photography"
                                    data-number="10">
                                    <div class="img-mask">
                                        <div class="section-image" data-src="assets/images/10hero.jpg"></div>
                                    </div>
                                    <a class="showcase-link-project" 
                                        routerLink="/project10"></a>
                                </div>
                                <!--/Section Slide -->

                            </div>
                        </div>
                    </div>
                </div>
                <div class="showcase-pagination-wrap">
                    <div class="showcase-counter" data-total="10"></div>
                    <div class="showcase-pagination"></div>
                    <div class="caption-border left"></div>
                    <div class="caption-border right"></div>
                    <div class="arrows-wrap">
                        <div class="prev-wrap parallax-wrap">
                            <div class="swiper-button-prev swiper-button-white parallax-element"></div>
                        </div>
                        <div class="next-wrap parallax-wrap">
                            <div class="swiper-button-next swiper-button-white parallax-element"></div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Showcase Holder -->


        </div>
        <!--/Main Content -->
    </div>
    <!--/Main -->


</div>
<!--/Content Scroll -->


<!-- Footer -->
<app-footer></app-footer>
<!--/Footer -->