   <!-- Sidebar Overlay -->
   <div id="sidebar-overlay">                
    <div id="close-sidebar"></div>
    <div class="outer">
        <div class="inner">    
            <ul id="filters">
                <li class="sidebar-timeline link"><a id="all" href="#" data-filter="*" data-hover="ALL" class="active ">ALL</a></li>
                <li class="sidebar-timeline link"><a href="#" data-filter=".photo" data-hover="PHOTO" class="">PHOTO</a></li>                                                       
                <li class="sidebar-timeline link"><a href="#" data-filter=".architecture" data-hover="ARCHITECTURE" class="">ARCHITECTURE</a></li> 
                <li class="sidebar-timeline link"><a href="#" data-filter=".design" data-hover="DESIGN" class="">DESIGN</a></li>
                <li class="sidebar-timeline link"><a href="#" data-filter=".video" data-hover="VIDEO" class="">VIDEO</a></li>
            </ul>
        </div>
    </div>
</div>
<!-- Sidebar Overlay -->


<!-- Content Scroll -->
<header class="classic-menu"><app-header></app-header></header><div id="content-scroll">


    <!-- Main -->
    <div id="main">
    
        <!-- Hero Section -->
        <div id="hero">
            <div id="hero-styles" class="parallax-onscroll">
                <div id="hero-caption">
                    <div class="inner text-align-center">
                        <div class="hero-subtitle">Our best works</div>    
                        <div class="hero-title">
                            <span>P</span>
                            <span>O</span>
                            <span>R</span>
                            <span>T</span>
                            <span>F</span>
                            <span>O</span>
                            <span>L</span>
                            <span>I</span>
                            <span>O</span>	
                        </div>                                
                    </div>
                </div>                                            
            </div>
        </div>                      
        <!--/Hero Section -->   
             
        
        <!-- Main Content -->
        <div id="main-content">
            <!-- Main Page Content -->
            <div id="main-page-content">	
                
                
                <div id="show-filters" class="button-box has-animation" data-delay="100">             
                    <div class="clapat-button-wrap parallax-wrap hide-ball">
                        <div class="clapat-button parallax-element">
                            <div class="button-border rounded outline parallax-element-second"><span data-hover="Show">Filters</span></div>
                        </div>
                    </div> 
                </div>
                
                
                <!-- Portfolio Wrap -->
                <div id="portfolio-wrap">                
                    <!-- Portfolio Columns -->
                    <div id="portfolio" class="below-caption are-images-unloaded manual-load">
                        
                        <div class="item photo"  (click)="goAfter()">
                            <div class="item-appear">                                    		
                                <div class="item-content">                            	                                    
                                    <a class="item-wrap ajax-link-project" routerLink="/project01"></a>
                                    <div class="item-wrap-image"><div class="item-image" data-src="assets/images/01hero.jpg"></div></div>                                        
                                    <div class="item-caption">                                
                                        <h2 class="item-title">THE QUEEN</h2>
                                        <h4 class="item-cat"><span data-hover="View Case">Photography</span></h4>
                                    </div>
                                </div>
                            </div>                                        
                        </div>
                        
                        <div class="item photo" (click)="goAfter()">
                            <div class="item-appear">                                    	
                                <div class="item-content">                            	                                    
                                    <a class="item-wrap ajax-link-project" routerLink="/project02"></a>
                                    <div class="item-wrap-image"><div class="item-image" data-src="assets/images/02hero.jpg"></div></div>                                              
                                    <div class="item-caption">                                
                                        <h2 class="item-title">DARK PATH</h2>
                                        <h4 class="item-cat"><span data-hover="View Case">Photography</span></h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="item video" (click)="goAfter()">
                            <div class="item-appear">                                    
                                <div class="item-content">                            	                                    
                                    <a class="item-wrap ajax-link-project" routerLink="/project03"></a>
                                    <div class="item-wrap-image"><div class="item-image" data-src="assets/images/03hero.jpg">
                                        <div class="hero-video-wrapper">
                                            <video loop muted class="bgvid">
                                                <source src="http://mathematic.tv/wp-content/uploads/2017/05/ELIE_SAAB_40s_LOOP-preview.mp4" type="video/mp4">
                                                <source src="http://mathematic.tv/wp-content/uploads/2017/05/ELIE_SAAB_40s_LOOP-preview.webm" type="video/webm">
                                            </video>
                                        </div>
                                    </div></div>                                        
                                    <div class="item-caption">                                
                                        <h2 class="item-title">ELIE SAAB</h2>
                                        <h4 class="item-cat"><span data-hover="View Case">Video</span></h4>
                                    </div>
                                </div>
                            </div>                                    
                        </div>
                        
                        <div class="item design" (click)="goAfter()">
                            <div class="item-appear">                                    	
                                <div class="item-content">                            	                                    
                                    <a class="item-wrap ajax-link-project" routerLink="/project04"></a>
                                    <div class="item-wrap-image"><div class="item-image" data-src="assets/images/04hero.jpg"></div></div>                                                
                                    <div class="item-caption">                                
                                        <h2 class="item-title">LADY IN RED</h2>
                                        <h4 class="item-cat"><span data-hover="View Case">Design</span></h4>
                                    </div>
                                </div>
                            </div>                                    
                        </div>
                        
                        <div class="item design" (click)="goAfter()">
                            <div class="item-appear">                                    	
                                <div class="item-content">                            	                                    
                                    <a class="item-wrap ajax-link-project" routerLink="/project05"></a>
                                    <div class="item-wrap-image"><div class="item-image" data-src="assets/images/05hero.jpg"></div></div>                                 
                                    <div class="item-caption">                                
                                        <h2 class="item-title">INFO BUGS</h2>
                                        <h4 class="item-cat"><span data-hover="View Case">Design</span></h4>
                                    </div>
                                </div>
                            </div>                                    
                        </div>
                        
                        <div class="item photo" (click)="goAfter()">
                            <div class="item-appear">                                    	
                                <div class="item-content">                            	                                    
                                    <a class="item-wrap ajax-link-project" routerLink="/project06"></a>
                                    <div class="item-wrap-image"><div class="item-image" data-src="assets/images/06hero.jpg"></div></div>                                    
                                    <div class="item-caption">                                
                                        <h2 class="item-title">NEON DUDE</h2>
                                        <h4 class="item-cat"><span data-hover="View Case">Photography</span></h4>
                                    </div>
                                </div>
                            </div>                                    
                        </div>
                        
                        <div class="item design" (click)="goAfter()">
                            <div class="item-appear">                                    	
                                <div class="item-content">                            	                                    
                                    <a class="item-wrap ajax-link-project" routerLink="/project07"></a>
                                    <div class="item-wrap-image"><div class="item-image" data-src="assets/images/07hero.jpg"></div></div>                                      
                                    <div class="item-caption">                                
                                        <h2 class="item-title">SPORT BLACK</h2>
                                        <h4 class="item-cat"><span data-hover="View Case">Design</span></h4>
                                    </div>
                                </div>
                            </div>                                    
                        </div>
                        
                        <div class="item photo" (click)="goAfter()">
                            <div class="item-appear">                                    	
                                <div class="item-content">                            	                                    
                                    <a class="item-wrap ajax-link-project" routerLink="/project08"></a>
                                    <div class="item-wrap-image"><div class="item-image" data-src="assets/images/08hero.jpg"></div></div>                                  
                                    <div class="item-caption">                                
                                        <h2 class="item-title">WILD HORSE</h2>
                                        <h4 class="item-cat"><span data-hover="View Case">Photography</span></h4>
                                    </div>
                                </div>
                            </div>                                    
                        </div>
                        
                        <div class="item architecture" (click)="goAfter()">
                            <div class="item-appear">                                    	
                                <div class="item-content">                            	                                    
                                    <a class="item-wrap ajax-link-project" routerLink="/project09"></a>
                                    <div class="item-wrap-image"><div class="item-image" data-src="assets/images/09hero.jpg"></div></div>                                        
                                    <div class="item-caption">                                
                                        <h2 class="item-title">FOREST HOUSE</h2>
                                        <h4 class="item-cat"><span data-hover="View Case">Architecture</span></h4>
                                    </div>
                                </div>
                            </div>                                    
                        </div>
                        
                        <div class="item photo" (click)="goAfter()">
                            <div class="item-appear">                                    	
                                <div class="item-content">                            	                                    
                                    <a class="item-wrap ajax-link-project" routerLink="/project10"></a>
                                    <div class="item-wrap-image"><div class="item-image" data-src="assets/images/10hero.jpg"></div></div>                              
                                    <div class="item-caption">                                
                                        <h2 class="item-title">THUNDER STRIKE</h2>
                                        <h4 class="item-cat"><span data-hover="View Case">Photography</span></h4>
                                    </div>
                                </div>
                            </div>                                    
                        </div>
                               
                    
                    </div>
                    <!--/Portfolio -->                
                </div>
                <!--/Portfolio Wrap -->
            
            
            </div>
            <!--/Main Page Content -->                     
            
            <!-- Project Navigation --> 
            <div id="page-nav">
                <div class="next-page-wrap">
                    <div class="next-page-title">
                        <div class="inner text-align-center">
                            <div class="page-subtitle has-animation" data-delay="100">
                                <div class="subtitle-info">Learn More</div>
                                <div class="subtitle-name">Creative Studio Design</div>
                            </div>
                            <a class="page-title has-animation hide-ball next-ajax-link-page"  (click)="goAfter('/about')" data-delay="150">
                                <span>A</span>
                                <span>B</span>
                                <span>O</span>
                                <span>U</span>
                                <span>T</span>
                                <span> </span>
                                <span>U</span>
                                <span>S</span>
                            </a>             
                        </div>                   
                    </div>
                </div>
            </div>      
            <!--/Project Navigation -->
                                    
                    
        </div>
        <!--/Main Content --> 
    </div>
    <!--/Main --> 
    
    
    <!-- Footer -->
    <footer class="hidden"><app-footer-hidden></app-footer-hidden></footer>
    <!--/Footer -->


</div>
<!--/Content Scroll -->


<div class="thumb-container">
    <div class="thumb-page" data-src="assets/images/01hero.jpg"></div>
    <div class="thumb-page" data-src="assets/images/02hero.jpg"></div>
    <div class="thumb-page" data-src="assets/images/03hero.jpg"></div>
    <div class="thumb-page" data-src="assets/images/04hero.jpg"></div>
    <div class="thumb-page" data-src="assets/images/05hero.jpg"></div>
    <div class="thumb-page" data-src="assets/images/06hero.jpg"></div>
    <div class="thumb-page" data-src="assets/images/07hero.jpg"></div>
    <div class="thumb-page" data-src="assets/images/08hero.jpg"></div>
    <div class="thumb-page" data-src="assets/images/09hero.jpg"></div>
    <div class="thumb-page" data-src="assets/images/10hero.jpg"></div>
</div>