     
            <!-- Content Scroll -->
            <div id="content-scroll">
            
            
                <!-- Main -->
                <div id="main">
                
                    <!-- Hero Section -->
                    <div id="hero" class="has-image">
                        <div id="hero-styles" class="parallax-onscroll">
                            <div id="hero-caption">
                                <div class="inner">
                                    <div class="hero-subtitle">Design</div>    
                                    <div class="hero-title">
                                        <span>I</span>
                                        <span>N</span>
                                        <span>F</span>
                                        <span>O</span>
                                        <span> </span>
                                        <span>B</span>
                                        <span>U</span>
                                        <span>G</span>
                                        <span>S</span>	
                                    </div>                                
                                </div>
                            </div>                                            
                        </div>
                    </div>
                    <div id="hero-bg-wrapper">
                        <div id="hero-image-parallax">
                            <div id="hero-bg-image" style="background-image:url(assets/images/05hero.jpg)"></div>
                        </div>
                    </div>                         
                    <!--/Hero Section -->   
                         
                    
                    <!-- Main Content -->
                    <div id="main-content">
                        <div id="main-page-content">
                            
                            <!-- Row -->
                            <div class="vc_row row_padding_top text-align-center small">
                                
                                <hr>
                                 
                                <h2 class="has-mask">Insects also probably have the largest biomass of the terrestrial animals. At any time, it is estimated that there are some 10 quintillion.</h2>
                                
                            </div>
                            <!--/Row -->
                            
                            
                            <!-- Row --> 
                            <div class="vc_row full row_padding_top row_padding_bottom">
                                                        
                                <figure class="has-animation has-parallax">
                                    <img src="assets/images/projects/ib01.jpg" alt="Image Title">               
                                    <figcaption>Image Caption</figcaption>
                                </figure>
                            
                            </div>
                            <!--/Row -->
                            
                            
                            <!-- Row -->
                            <div class="vc_row small">
                                
                                <div class="one_half">
                                	<h2 class="has-mask">Selected Shots</h2>
                                </div>
                                
                                <div class="one_half last">
                                	<p class="has-animation" data-delay="10">My favourite places on earth are the wild waterways where the forest opens its arms and a silver curve of river folds the traveller into its embrace.</p>
                                    <a href="https://www.behance.net/gallery/52775051/MECHANICAL-BUGS" target="_blank" class="link has-animation" data-delay="100"><span>Read More</span></a>
                                </div>
                                                                                                    
                            </div>
                            <!--/Row -->
                         
                            
                            <!-- Row --> 
                            <div class="vc_row row_padding_top">
                                                        
                                <figure class="has-animation">
                                    <a href="assets/images/projects/ib02.jpg" class="image-link"><img src="assets/images/projects/ib02.jpg" alt="Image Title"></a>               
                                    <figcaption>Image Caption</figcaption>
                                </figure>
                                
                                <hr><hr>
                                
                                <div class="one_half">
                                	<figure class="has-animation">
                                        <a href="assets/images/projects/ib03.jpg" class="image-link"><img src="assets/images/projects/ib03.jpg" alt="Image Title"></a>                
                                        <figcaption>Image Caption</figcaption>
                                    </figure>
                                </div>
                                
                                <div class="one_half last">
                                	<figure class="has-animation">
                                        <a href="assets/images/projects/ib04.jpg" class="image-link"><img src="assets/images/projects/ib04.jpg" alt="Image Title"></a>               
                                        <figcaption>Image Caption</figcaption>
                                    </figure>
                                </div>
                                
                                <hr>
                                
                                <figure class="has-animation">
                                    <a href="assets/images/projects/ib01.jpg" class="image-link"><img src="assets/images/projects/ib01.jpg" alt="Image Title"></a>                
                                    <figcaption>Image Caption</figcaption>
                                </figure>
                            
                            </div>
                            <!--/Row -->
                        
                        
                        </div>
                        <!--/Main Page Content --> 
                        
                        <!-- Project Navigation --> 
                        <div id="project-nav">
                            <div class="next-project-wrap">
                                <div class="next-project-image">
                                    <div class="next-project-image-bg" style="background-image:url(assets/images/06hero.jpg)"></div>
                                </div>
                                <div class="next-project-title">
                                    <div class="inner">
                                        <div class="main-subtitle has-animation" data-delay="100">
                                            <div class="subtitle-info">Next Project</div>
                                            <div class="subtitle-name">Photography</div>
                                        </div>
                                        <a class="main-title has-animation next-ajax-link-project hide-ball" data-delay="150"  routerLink="/project06">
                                            <span>N</span>
                                            <span>E</span>
                                            <span>O</span>
                                            <span>N</span>
                                            <span> </span>
                                            <span>D</span>
                                            <span>U</span>
                                            <span>D</span>
                                            <span>E</span>	
                                        </a>             
                                    </div>                   
                                </div>
                            </div>
                        </div>      
                        <!--/Project Navigation -->
                                                
                                
                    </div>
                    <!--/Main Content --> 
                </div>
                <!--/Main --> 
                
                
                <!-- Footer -->
                 <footer class="hidden"><app-footer-hidden></app-footer-hidden></footer>
                <!--/Footer -->
            
        
        	</div>
            <!--/Content Scroll -->