
<header class="classic-menu"><app-header></app-header></header><div id="content-scroll">
    
                    <!-- Main -->
                    <div id="main">
                    
                        <!-- Hero Section -->
                        <div id="hero" class="">
                            <div id="hero-styles" class="parallax-onscroll">
                                <div id="hero-caption">
                                    <div class="inner text-align-center">
                                        <div class="hero-subtitle">Creative Studio Design</div> 
                                        <div class="hero-title">
                                            <span>A</span>
                                            <span>B</span>
                                            <span>O</span>
                                            <span>U</span>
                                            <span>T</span>
                                            <span> </span>
                                            <span>U</span>
                                            <span>S</span>	
                                        </div>                                
                                    </div>
                                </div>                                            
                            </div>
                        </div>                      
                        <!--/Hero Section -->   
                             
                        
                        <!-- Main Content -->
                        <div id="main-content">
                            <!-- Main Page Content -->
                            <div id="main-page-content">
                                
                                
                                <!-- Row -->
                                <div class="vc_row small row_padding_top row_padding_bottom text-align-center">                        
                                    <div class="container">
                                        
                                        <h2 class="has-mask" data-delay="10">We cover a large range of creative digital projects, platforms, and campaigns to create experiences.</h2> 
                                        
                                    </div>                    
                                </div>
                                <!--/Row -->
                                
                                <!-- Row -->
                                    <div class="vc_row row_padding_bottom text-align-center">                        
                                        <div class="container">
                                            
                                            <h4 class="has-animation" data-delay="100">Our clients:</h4>
                                            <p class="has-animation" data-delay="150">Proudly served some of the most famous brands:</p>
                                            
                                            <hr>
                                            
                                            <!-- Clients Table --> 
                                            <ul class="clients-table has-animation" data-delay="10">                        
                                                <li class="link has-animation" data-delay="150"><img src="assets/images/client-01.png" alt="client"></li>
                                                <li class="link has-animation" data-delay="200"><img src="assets/images/client-02.png" alt="client"></li>
                                                <li class="link has-animation" data-delay="250"><img src="assets/images/client-03.png" alt="client"></li>
                                                <li class="link has-animation" data-delay="300"><img src="assets/images/client-04.png" alt="client"></li>   
                                                <li class="link has-animation" data-delay="150"><img src="assets/images/client-05.png" alt="client"></li>
                                                <li class="link has-animation" data-delay="200"><img src="assets/images/client-06.png" alt="client"></li>
                                                <li class="link has-animation" data-delay="250"><img src="assets/images/client-07.png" alt="client"></li>
                                                <li class="link has-animation" data-delay="300"><img src="assets/images/client-08.png" alt="client"></li>                        
                                            </ul>
                                            <!--/Clients Table -->
                                        
                                    </div>                    
                                </div>
                                <!--/Row -->
                                
                                
                                
                                <!-- Row -->
                                <div class="vc_row small text-align-center">
                                    
                                    <div class="container">                        
                                        
                                        <h3 class="has-mask" data-delay="100">What people are saying about us</h3>
                                        <hr>
                                        
                                        <div class="text-carousel has-animation" data-delay="150">
                                    
                                            <div class="text-carousel-item">
                                                <p>"These guys are amazing. I really like this theme and the customer support is just amazing. <br class="destroy">Thank you for all of your support."</p>                                    		<div class="user-review">Sultan0254 - Themeforest</div>
                                            </div>
                                            
                                            
                                            <div class="text-carousel-item">
                                                <p>"The design is beautiful, elegant and minimal. The customer service was amazing, asked for a <br class="destroy">404 page and they provided me one free of charge. "</p>
                                                <div class="user-review">Rmbettencourt - Themeforest</div>              
                                            </div>
                                            
                                            
                                            <div class="text-carousel-item"> 
                                                <p>"Maestro is one of my favorite theme and I bought quite a few from ThemeForest"</p>
                                                <div class="user-review">Oratorio - Themeforest</div>                     
                                            </div>               
                                        
                                        </div>
                                   
                                        
                                    </div>
                                    
                                </div>
                                <!--/Row -->
                                
                                
                                <!-- Row -->
                                <div class="vc_row small row_padding_top text-align-center">
                                    
                                    <div class="container">                        
                                        
                                        <h2 class="has-mask" data-delay="10">Whatever your needs, we're looking forward to hearing from you</h2>
                                        
                                        <hr>
                                       
                                    </div>
                                    
                                </div>
                                <!--/Row --> 
                            
                            
                            </div>
                            <!--/Main Page Content -->                     
                            
                            <!-- Page Navigation --> 
                            <div id="page-nav">
                                <div class="next-page-wrap">
                                    <div class="next-page-title">
                                        <div class="inner text-align-center">
                                            <div class="page-subtitle has-animation" data-delay="100">
                                                <div class="subtitle-info">Let's talk</div>
                                                <div class="subtitle-name">Get in touch</div>
                                            </div>
                                            <a class="page-title has-animation hide-ball next-ajax-link-page"  (click)="goAfter('/contact')"  data-delay="150">
                                                <span>C</span>
                                                <span>O</span>
                                                <span>N</span>
                                                <span>T</span>
                                                <span>A</span>
                                                <span>C</span>
                                                <span>T</span>
                                            </a>             
                                        </div>                   
                                    </div>
                                </div>
                            </div>      
                            <!--/Page Navigation -->
                                                    
                                    
                        </div>
                        <!--/Main Content --> 
                    </div>
                    <!--/Main --> 
     <footer class="hidden"><app-footer-hidden></app-footer-hidden></footer>
</div>