 <!-- Content Scroll -->
 <div id="content-scroll">
            
            
    <!-- Main -->
    <div id="main">
    
        <!-- Hero Section -->
        <div id="hero" class="has-image">
            <div id="hero-styles" class="parallax-onscroll">
                <div id="hero-caption">
                    <div class="inner">
                        <div class="hero-subtitle">Photography</div>    
                        <div class="hero-title">
                            <span>D</span>
                            <span>A</span>
                            <span>R</span>
                            <span>K</span>
                            <span> </span>
                            <span>P</span>
                            <span>A</span>
                            <span>T</span>
                            <span>H</span>	
                        </div>                                
                    </div>
                </div>                                            
            </div>
        </div>
        <div id="hero-bg-wrapper">
            <div id="hero-image-parallax">
                <div id="hero-bg-image" style="background-image:url(assets/images/02hero.jpg)"></div>
            </div>
        </div>                         
        <!--/Hero Section -->   
             
        
        <!-- Main Content -->
        <div id="main-content">
            <div id="main-page-content">
                
                <!-- Row -->
                <div class="vc_row row_padding_top small text-align-center">
                    
                    <hr>
                     
                    <h2 class="has-mask">Love the trees until their leaves fall off and encourage them to try again next year.</h2>
                    
                </div>
                <!--/Row -->
                
                
                <!-- Row --> 
                <div class="vc_row row_padding_top row_padding_bottom">
                                            
                    <figure class="has-animation has-parallax">
                        <img src="assets/images/projects/dp06.jpg" alt="Image Title">               
                        <figcaption>Image Caption</figcaption>
                    </figure>
                
                </div>
                <!--/Row -->
                
                
                <!-- Row -->
                <div class="vc_row small">
                    
                    <div class="one_half">
                        <h2 class="has-mask">Selected Shots</h2>
                    </div>
                    
                    <div class="one_half last">
                        <p class="has-animation" data-delay="10">My favourite places on earth are the wild waterways where the forest opens its arms and a silver curve of river folds the traveller into its embrace.</p>
                        <a href="https://www.behance.net/gallery/57960205/Sombre-foret" target="_blank" class="link has-animation" data-delay="100"><span>Read More</span></a>
                    </div>
                    
                    
                                                                                        
                </div>
                <!--/Row -->
             
                
                <!-- Row -->
                <div class="vc_row row_padding_top has-animation" data-delay="10">
                    
                    <div class="container">
                        
                        <div class="slider">
                            <div class="slide"><img src="assets/images/projects/dp01.jpg" alt="Image Title"></div>
                            <div class="slide"><img src="assets/images/projects/dp02.jpg" alt="Image Title"></div> 
                            <div class="slide"><img src="assets/images/projects/dp03.jpg" alt="Image Title"></div> 
                            <div class="slide"><img src="assets/images/projects/dp04.jpg" alt="Image Title"></div> 
                            <div class="slide"><img src="assets/images/projects/dp05.jpg" alt="Image Title"></div> 
                        </div>
                        
                    </div>
                    
                </div>
                <!--/Row -->
            
            
            </div>
            <!--/Main Page Content --> 
            
            <!-- Project Navigation --> 
            <div id="project-nav">
                <div class="next-project-wrap">
                    <div class="next-project-image">
                        <div class="next-project-image-bg" style="background-image:url(assets/images/03hero.jpg)"></div>
                    </div>
                    <div class="next-project-title">
                        <div class="inner">
                            <div class="main-subtitle has-animation" data-delay="100">
                                <div class="subtitle-info">Next Project</div>
                                <div class="subtitle-name">Video</div>
                            </div>
                            <a class="main-title has-animation next-ajax-link-project hide-ball" data-delay="150"  routerLink="/project03">
                                <span>E</span>
                                <span>L</span>
                                <span>I</span>
                                <span>E</span>
                                <span> </span>
                                <span>S</span>
                                <span>A</span>
                                <span>A</span>
                                <span>B</span>
                            </a>             
                        </div>                   
                    </div>
                </div>
            </div>      
            <!--/Project Navigation -->
                                    
                    
        </div>
        <!--/Main Content --> 
    </div>
    <!--/Main --> 
    
    
    <!-- Footer -->
    <footer class="hidden"><app-footer-hidden></app-footer-hidden></footer>
    <!--/Footer -->


</div>
<!--/Content Scroll -->