<footer class="fixed">        	
    <div id="footer-container">
        
        <div class="button-wrap left">
            <div class="icon-wrap parallax-wrap">
                <div class="button-icon parallax-element">
                    <div class="bars">
                        <div class="bar"></div><div class="bar"></div><div class="bar"></div><div class="bar"></div><div class="bar"></div>
                    </div>
                </div>
            </div>
            <div class="button-text"><span data-on="Sound On" data-off="Sound Off">Sound On</span></div> 
        </div>
        
       <div class="footer-button-wrap parallax-wrap hide-ball">
            <div class="footer-button parallax-element">
                <div class="button-border rounded outline parallax-element-second"><span data-hover="Click and Hold">View Case</span></div>
            </div>
        </div>
        
        <div class="socials-wrap">            	
            <div class="socials-icon"><i class="fa fa-share-alt" aria-hidden="true"></i></div>
            <div class="socials-text">Follow us</div>
            <ul class="socials">
                <li><span class="parallax-wrap"><a class="parallax-element" href="https://www.dribbble.com/clapat" target="_blank">Db</a></span></li>
                <li><span class="parallax-wrap"><a class="parallax-element" href="https://www.twitter.com/clapatdesign" target="_blank">Tw</a></span></li>
                <li><span class="parallax-wrap"><a class="parallax-element" href="https://www.behance.com/clapat" target="_blank">Be</a></span></li>
                <li><span class="parallax-wrap"><a class="parallax-element" href="https://www.facebook.com/clapat.ro" target="_blank">Fb</a></span></li>
                <li><span class="parallax-wrap"><a class="parallax-element" href="https://www.instagram.com/clapat.themes/">In</a></span></li>
            </ul>                
        </div>
        
    </div>
</footer>