   <!-- Content Scroll -->
   <div id="content-scroll">
            
            
    <!-- Main -->
    <div id="main">
    
        <!-- Hero Section -->
        <div id="hero" class="has-image">
            <div id="hero-styles" class="parallax-onscroll">
                <div id="hero-caption">
                    <div class="inner">
                        <div class="hero-subtitle">Design</div>    
                        <div class="hero-title">
                            <span>L</span>
                            <span>A</span>
                            <span>D</span>
                            <span>Y</span>
                            <span> </span>
                            <span>I</span>
                            <span>N</span>
                            <span> </span>
                            <span>R</span>
                            <span>E</span>
                            <span>D</span>	
                        </div>                                
                    </div>
                </div>                                            
            </div>
        </div>
        <div id="hero-bg-wrapper">
            <div id="hero-image-parallax">
                <div id="hero-bg-image" style="background-image:url(assets/images/04hero.jpg)"></div>
            </div>
        </div>                         
        <!--/Hero Section -->   
             
        
        <!-- Main Content -->
        <div id="main-content">
            <div id="main-page-content">
                
                <!-- Row -->
                <div class="vc_row row_padding_top text-align-center small">
                    
                    <hr>
                     
                    <h2 class="has-mask">The lady in red is dancing with me, cheek to cheek. There's nobody here, it's just you and me.</h2>
                    
                </div>
                <!--/Row -->
                
                
                <!-- Row --> 
                <div class="vc_row row_padding_top row_padding_bottom">
                                            
                    <figure class="has-animation has-parallax">
                        <img src="assets/images/projects/lr01.jpg" alt="Image Title">               
                        <figcaption>Image Caption</figcaption>
                    </figure>
                
                </div>
                <!--/Row -->
                
                
                <!-- Row -->
                <div class="vc_row small text-align-center">
                    
                    <h1 class="has-mask">Selected Shots</h1>                                
                                                                                        
                </div>
                <!--/Row -->
             
                
                <!-- Row --> 
                <div class="vc_row row_padding_top">
                                            
                    <figure class="has-animation has-parallax">
                        <img src="assets/images/projects/lr02.jpg" alt="Image Title">               
                        <figcaption>Image Caption</figcaption>
                    </figure>
                
                </div>
                <!--/Row -->
            
            
            </div>
            <!--/Main Page Content --> 
            
            <!-- Project Navigation --> 
            <div id="project-nav">
                <div class="next-project-wrap">
                    <div class="next-project-image">
                        <div class="next-project-image-bg" style="background-image:url(assets/images/05hero.jpg)"></div>
                    </div>
                    <div class="next-project-title">
                        <div class="inner">
                            <div class="main-subtitle has-animation" data-delay="100">
                                <div class="subtitle-info">Next Project</div>
                                <div class="subtitle-name">Design</div>
                            </div>
                            <a class="main-title has-animation next-ajax-link-project hide-ball" data-delay="150"  href="/project05">
                                <span>I</span>
                                <span>N</span>
                                <span>F</span>
                                <span>O</span>
                                <span> </span>
                                <span>B</span>
                                <span>U</span>
                                <span>G</span>
                                <span>S</span>	
                            </a>             
                        </div>                   
                    </div>
                </div>
            </div>      
            <!--/Project Navigation -->
                                    
                    
        </div>
        <!--/Main Content --> 
    </div>
    <!--/Main --> 
    
    
    <!-- Footer -->
     <footer class="hidden"><app-footer-hidden></app-footer-hidden></footer>
    <!--/Footer -->


</div>
<!--/Content Scroll -->