    
            <!-- Content Scroll -->
            <header class="classic-menu"><app-header></app-header></header><div id="content-scroll">
            
            
                <!-- Main -->
                <div id="main">
                
                    <!-- Hero Section -->
                    <div id="hero" class="has-image">
                        <div id="hero-styles" class="parallax-onscroll">
                            <div id="hero-caption">
                                <div class="inner">
                                    <div class="hero-subtitle">Architecture</div>    
                                    <div class="hero-title">
                                        <span>F</span>
                                        <span>O</span>
                                        <span>R</span>
                                        <span>E</span>
                                        <span>S</span>
                                        <span>T</span>
                                        <span> </span>
                                        <span>H</span>
                                        <span>O</span>
                                        <span>U</span>
                                        <span>S</span>
                                        <span>E</span>	
                                    </div>                                
                                </div>
                            </div>                                            
                        </div>
                    </div>
                    <div id="hero-bg-wrapper">
                        <div id="hero-image-parallax">
                            <div id="hero-bg-image" style="background-image:url(assets/images/09hero.jpg)"></div>
                        </div>
                    </div>                         
                    <!--/Hero Section -->   
                         
                    
                    <!-- Main Content -->
                    <div id="main-content">
                        <div id="main-page-content">
                            
                            <!-- Row -->
                            <div class="vc_row row_padding_top row_padding_bottom text-align-center">
                                
                                <hr>
                                 
                                <div class="one_fourth"></div>
                                    
                                <div class="two_fourth">
                                    <h2 class="has-mask">A digital project that feature famous people in unexpected situations.</h2>
                                </div>
                                
                            </div>
                            <!--/Row -->
                            
                            
                            <!-- Row -->
                            <div class="vc_row full has-animation" data-delay="100">
                                    
                                <!-- Collage -->
                                <div id="justified-grid">
                                    
                                    <!-- Collage item with pop-up -->
                                    <div class="collage-thumb">                          
                                        <a class="image-link" href="assets/images/projects/fh01.jpg">
                                            <img src="assets/images/projects/fh01.jpg" alt="img" />
                                            <div class="thumb-info">Caption Image</div>
                                        </a>
                                    </div>
                                    
                                    <!-- Collage item with pop-up -->
                                    <div class="collage-thumb">               
                                        <a class="image-link" href="assets/images/projects/fh08.jpg">
                                            <img src="assets/images/projects/fh08.jpg" alt="img" />
                                            <div class="thumb-info">Caption Image</div>
                                        </a>
                                    </div>
                                    
                                    <!-- Collage item with pop-up -->
                                    <div class="collage-thumb">               
                                        <a class="image-link" href="assets/images/projects/fh02.jpg">
                                            <img src="assets/images/projects/fh02.jpg" alt="img" />
                                            <div class="thumb-info">Caption Image</div>
                                        </a>
                                    </div>
                                    
                                    <!-- Collage item with pop-up -->
                                    <div class="collage-thumb">               
                                        <a class="image-link" href="assets/images/projects/fh09.jpg">
                                            <img src="assets/images/projects/fh09.jpg" alt="img" />
                                            <div class="thumb-info">Caption Image</div>
                                        </a>
                                    </div>
                                    
                                    <!-- Collage item with pop-up -->
                                    <div class="collage-thumb">               
                                        <a class="image-link" href="assets/images/projects/fh03.jpg">
                                            <img src="assets/images/projects/fh03.jpg" alt="img" />
                                            <div class="thumb-info">Caption Image</div>
                                        </a>
                                    </div>
                                    
                                    <!-- Collage item with pop-up -->
                                    <div class="collage-thumb">               
                                        <a class="image-link" href="assets/images/projects/fh10.jpg">
                                            <img src="assets/images/projects/fh10.jpg" alt="img" />
                                            <div class="thumb-info">Caption Image</div>
                                        </a>
                                    </div>
                                    
                                    <!-- Collage item with pop-up -->
                                    <div class="collage-thumb">               
                                        <a class="image-link" href="assets/images/projects/fh04.jpg">
                                            <img src="assets/images/projects/fh04.jpg" alt="img" />
                                            <div class="thumb-info">Caption Image</div>
                                        </a>
                                    </div>
                                    
                                    <!-- Collage item with pop-up -->
                                    <div class="collage-thumb">                          
                                        <a class="image-link" href="assets/images/projects/fh05.jpg">
                                            <img src="assets/images/projects/fh05.jpg" alt="img" />
                                            <div class="thumb-info">Caption Image</div>
                                        </a>
                                    </div>
                                    
                                    <!-- Collage item with pop-up -->
                                    <div class="collage-thumb">                          
                                        <a class="image-link" href="assets/images/projects/fh06.jpg">
                                            <img src="assets/images/projects/fh06.jpg" alt="img" />
                                            <div class="thumb-info">Caption Image</div>
                                        </a>
                                    </div>
                                    
                                    <!-- Collage item with pop-up -->
                                    <div class="collage-thumb">                          
                                        <a class="image-link" href="assets/images/projects/fh07.jpg">
                                            <img src="assets/images/projects/fh07.jpg" alt="img" />
                                            <div class="thumb-info">Caption Image</div>
                                        </a>
                                    </div>
                                    
                                    <!-- Collage item with pop-up -->
                                    <div class="collage-thumb">                          
                                        <a class="image-link" href="assets/images/projects/fh17.jpg">
                                            <img src="assets/images/projects/fh17.jpg" alt="img" />
                                            <div class="thumb-info">Caption Image</div>
                                        </a>
                                    </div>
                                    
                                    <!-- Collage item with pop-up -->
                                    <div class="collage-thumb">                          
                                        <a class="image-link" href="assets/images/projects/fh11.jpg">
                                            <img src="assets/images/projects/fh11.jpg" alt="img" />
                                            <div class="thumb-info">Caption Image</div>
                                        </a>
                                    </div>
                                    
                                    <!-- Collage item with pop-up -->
                                    <div class="collage-thumb">                          
                                        <a class="image-link" href="assets/images/projects/fh12.jpg">
                                            <img src="assets/images/projects/fh12.jpg" alt="img" />
                                            <div class="thumb-info">Caption Image</div>
                                        </a>
                                    </div>
                                    
                                    <!-- Collage item with pop-up -->
                                    <div class="collage-thumb">                          
                                        <a class="image-link" href="assets/images/projects/fh13.jpg">
                                            <img src="assets/images/projects/fh13.jpg" alt="img" />
                                            <div class="thumb-info">Caption Image</div>
                                        </a>
                                    </div>
                                    
                                    <!-- Collage item with pop-up -->
                                    <div class="collage-thumb">                          
                                        <a class="image-link" href="assets/images/projects/fh15.jpg">
                                            <img src="assets/images/projects/fh15.jpg" alt="img" />
                                            <div class="thumb-info">Caption Image</div>
                                        </a>
                                    </div>
                                    
                                    <!-- Collage item with pop-up -->
                                    <div class="collage-thumb">                          
                                        <a class="image-link" href="assets/images/projects/fh16.jpg">
                                            <img src="assets/images/projects/fh16.jpg" alt="img" />
                                            <div class="thumb-info">Caption Image</div>
                                        </a>
                                    </div>
                                    
                                     <!-- Collage item with pop-up -->
                                    <div class="collage-thumb">                          
                                        <a class="image-link" href="assets/images/projects/fh18.jpg">
                                            <img src="assets/images/projects/fh18.jpg" alt="img" />
                                            <div class="thumb-info">Caption Image</div>
                                        </a>
                                    </div>
                                    
                                    <!-- Collage item with pop-up -->
                                    <div class="collage-thumb">                          
                                        <a class="image-link" href="assets/images/projects/fh19.jpg">
                                            <img src="assets/images/projects/fh19.jpg" alt="img" />
                                            <div class="thumb-info">Caption Image</div>
                                        </a>
                                    </div>
                                    
                                     <!-- Collage item with pop-up -->
                                    <div class="collage-thumb">                          
                                        <a class="image-link" href="assets/images/projects/fh14.jpg">
                                            <img src="assets/images/projects/fh14.jpg" alt="img" />
                                            <div class="thumb-info">Caption Image</div>
                                        </a>
                                    </div>
                                    
                                    
                                </div>
                                <!--/Collage -->
                                
                            </div>
                            <!--/Row -->
                        
                        
                        </div>
                        <!--/Main Page Content --> 
                        
                        <!-- Project Navigation --> 
                        <div id="project-nav">
                            <div class="next-project-wrap">
                                <div class="next-project-image">
                                    <div class="next-project-image-bg" style="background-image:url(assets/images/10hero.jpg)"></div>
                                </div>
                                <div class="next-project-title">
                                    <div class="inner">
                                        <div class="main-subtitle has-animation" data-delay="100">
                                            <div class="subtitle-info">Next Project</div>
                                            <div class="subtitle-name">Photography</div>
                                        </div>
                                        <a class="main-title has-animation next-ajax-link-project hide-ball" data-delay="150"  routerLink="/project10">
                                            <span>T</span>
                                            <span>H</span>
                                            <span>U</span>
                                            <span>N</span>
                                            <span>D</span>
                                            <span>E</span>
                                            <span>R</span>
                                            <span> </span>
                                            <span>S</span>
                                            <span>T</span>
                                            <span>R</span>
                                            <span>I</span>
                                            <span>K</span>
                                            <span>E</span>
                                        </a>             
                                    </div>                   
                                </div>
                            </div>
                        </div>      
                        <!--/Project Navigation -->
                                                
                                
                    </div>
                    <!--/Main Content --> 
                </div>
                <!--/Main --> 
                
                
                <!-- Footer -->
                 <footer class="hidden"><app-footer-hidden></app-footer-hidden></footer>
                <!--/Footer -->
            
        
        	</div>
            <!--/Content Scroll -->