  
            <!-- Content Scroll -->
            <header class="classic-menu"><app-header></app-header></header><div id="content-scroll">
            
            
                <!-- Main -->
                <div id="main">
                
                    <!-- Hero Section -->
                    <div id="hero" class="has-image">
                        <div id="hero-styles" class="parallax-onscroll">
                            <div id="hero-caption">
                                <div class="inner">
                                    <div class="hero-subtitle">Design</div>    
                                    <div class="hero-title">
                                        <span>S</span>
                                        <span>P</span>
                                        <span>O</span>
                                        <span>R</span>
                                        <span>T</span>
                                        <span> </span>
                                        <span>B</span>
                                        <span>L</span>
                                        <span>A</span>
                                        <span>C</span>
                                        <span>K</span>	
                                    </div>                                
                                </div>
                            </div>                                            
                        </div>
                    </div>
                    <div id="hero-bg-wrapper">
                        <div id="hero-image-parallax">
                            <div id="hero-bg-image" style="background-image:url(assets/images/07hero.jpg)"></div>
                        </div>
                    </div>                         
                    <!--/Hero Section -->   
                         
                    
                    <!-- Main Content -->
                    <div id="main-content">
                        <div id="main-page-content">
                            
                            <!-- Row -->
                            <div class="vc_row row_padding_top small">
                                
                                <h2 class="has-mask" data-delay="10">It's all about sport</h2>                        
                        
                        		<p class="has-animation" data-delay="100">This well established Property Agent in Paris blew their competition out of the water with this beautifully designed property portfolio site. Obsessive attention to detail and a mobile first approach resulted in a site with a sophisticated light-box feature that adapts seamlessly to phone, tablet and desktop.</p>
                                
                            </div>
                            <!--/Row -->
                            
                            
                            <!-- Row --> 
                            <div class="vc_row full row_padding_all">
                                                        
                                <figure class="has-animation has-parallax">
                                    <img src="assets/images/projects/sb09.jpg" alt="Image Title">               
                                    <figcaption>Image Caption</figcaption>
                                </figure>
                            
                            </div>
                            <!--/Row -->
                            
                            
                            <!-- Row -->
                            <div class="vc_row small text-align-center">
                                
                                <h1 class="has-mask">Selected Shots</h1>
                                                                                                    
                            </div>
                            <!--/Row -->
                         
                            
                            <!-- Row --> 
                            <div class="vc_row row_padding_top row_padding_left row_padding_right full">
                                                        
                                <div class="carousel has-animation">
                                    <div class="slide"><a href="assets/images/projects/sb01.jpg" class="image-link"><img src="assets/images/projects/sb01.jpg" alt="Image Title"></a></div>
                                    <div class="slide"><a href="assets/images/projects/sb02.jpg" class="image-link"><img src="assets/images/projects/sb02.jpg" alt="Image Title"></a></div>
                                    <div class="slide"><a href="assets/images/projects/sb03.jpg" class="image-link"><img src="assets/images/projects/sb03.jpg" alt="Image Title"></a></div>
                                    <div class="slide"><a href="assets/images/projects/sb04.jpg" class="image-link"><img src="assets/images/projects/sb04.jpg" alt="Image Title"></a></div>
                                    <div class="slide"><a href="assets/images/projects/sb05.jpg" class="image-link"><img src="assets/images/projects/sb05.jpg" alt="Image Title"></a></div>
                                    <div class="slide"><a href="assets/images/projects/sb06.jpg" class="image-link"><img src="assets/images/projects/sb06.jpg" alt="Image Title"></a></div>    
                                </div>
                            
                            </div>
                            <!--/Row -->
                            
                            
                            <!-- Row -->
                            <div class="vc_row row_padding_top row_padding_left row_padding_right full">
                                
                                <div class="one_half">
                                    <a href="assets/images/projects/sb08.jpg" class="image-link"><img class="has-animation" data-delay="40" src="assets/images/projects/sb08.jpg" alt="Image Title"></a>
                                </div>
                                
                                <div class="one_half last">
                                    <a href="assets/images/projects/sb09.jpg" class="image-link"><img class="has-animation" data-delay="40" src="assets/images/projects/sb09.jpg" alt="Image Title"></a>
                                </div>
                                
                            </div>
                            <!--/Row -->
                        
                        
                        </div>
                        <!--/Main Page Content --> 
                        
                        <!-- Project Navigation --> 
                        <div id="project-nav">
                            <div class="next-project-wrap">
                                <div class="next-project-image">
                                    <div class="next-project-image-bg" style="background-image:url(assets/images/08hero.jpg)"></div>
                                </div>
                                <div class="next-project-title">
                                    <div class="inner">
                                        <div class="main-subtitle has-animation" data-delay="100">
                                            <div class="subtitle-info">Next Project</div>
                                            <div class="subtitle-name">Photography</div>
                                        </div>
                                        <a class="main-title has-animation next-ajax-link-project hide-ball" data-delay="150"  routerLink="/project08">
                                            <span>W</span>
                                            <span>I</span>
                                            <span>L</span>
                                            <span>D</span>
                                            <span> </span>
                                            <span>H</span>
                                            <span>O</span>
                                            <span>R</span>
                                            <span>S</span>
                                            <span>E</span>	
                                        </a>             
                                    </div>                   
                                </div>
                            </div>
                        </div>      
                        <!--/Project Navigation -->
                                                
                                
                    </div>
                    <!--/Main Content --> 
                </div>
                <!--/Main --> 
                
                
                <!-- Footer -->
                 <footer class="hidden"><app-footer-hidden></app-footer-hidden></footer>
                <!--/Footer -->
            
        
        	</div>
            <!--/Content Scroll -->