<!-- Content Scroll -->
<div id="content-scroll">


    <!-- Main -->
    <div id="main">
        <!-- Main Content -->
        <div id="main-content">




              
                            <!-- Showcase Holder -->
                            <div id="showcase-holder"> 
                                <div id="large-showcase-carousel" class="swiper-container">
                                    <div class="swiper-wrapper">
                                
                                
                                        <!-- Section Slide -->
                                        <div class="swiper-slide">                                    
                                            <div class="img-mask">
                                                <div class="section-wrap-image">
                                                	<div class="section-image" data-src="assets/images/01hero.jpg"></div>
                                                </div>                               
                                            </div>
                                            <a class="showcase-link-project"  href="/project01"></a>
                                            <div class="slide-caption">                                
                                                <h2 class="slide-title">THE QUEEN</h2>
                                                <h4 class="slide-cat"><span data-hover="View Case">Photography</span></h4>
                                            </div>
                                        </div>
                                        <!--/Section Slide -->
                                        
                                        
                                        <!-- Section Slide -->
                                        <div class="swiper-slide">                                    
                                            <div class="img-mask">
                                                <div class="section-wrap-image">
                                                	<div class="section-image" data-src="assets/images/02hero.jpg"></div>
                                                </div>                                            
                                            </div>
                                            <a class="showcase-link-project"  href="/project02"></a>
                                            <div class="slide-caption">                                
                                                <h2 class="slide-title">DARK PATH</h2>
                                                <h4 class="slide-cat"><span data-hover="View Case">Photography</span></h4>
                                            </div>
                                        </div>
                                        <!--/Section Slide -->					
                                        
                                        
                                        <!-- Section Slide -->
                                        <div class="swiper-slide bg-video">                                    
                                            <div class="img-mask">
                                                <div class="section-wrap-image">
                                                	<div class="section-image" data-src="assets/images/03hero.jpg">
                                                        <div class="hero-video-wrapper">
                                                            <video loop muted class="bgvid">
                                                                <source src="http://mathematic.tv/wp-content/uploads/2017/05/ELIE_SAAB_40s_LOOP-preview.mp4" type="video/mp4">
                                                                <source src="http://mathematic.tv/wp-content/uploads/2017/05/ELIE_SAAB_40s_LOOP-preview.webm" type="video/webm">
                                                            </video>
                                                        </div>
                                                    </div>
                                                </div>                                    
                                            </div>
                                            <a class="showcase-link-project"  href="/project03"></a>
                                            <div class="slide-caption">                                
                                                <h2 class="slide-title">ELLIE SAAB</h2>
                                                <h4 class="slide-cat"><span data-hover="View Case">Video</span></h4>
                                            </div>                                    
                                        </div>
                                        <!--/Section Slide -->
                                        
                                        
                                        <!-- Section Slide -->
                                        <div class="swiper-slide">                                        
                                            <div class="img-mask">
                                                <div class="section-wrap-image">
                                                	<div class="section-image" data-src="assets/images/04hero.jpg"></div>
                                                </div>                                            
                                            </div>
                                            <a class="showcase-link-project"  href="/project04"></a>
                                            <div class="slide-caption">                                
                                                <h2 class="slide-title">LADY IN RED</h2>
                                                <h4 class="slide-cat"><span data-hover="View Case">Design</span></h4>
                                            </div>                                        
                                        </div>
                                        <!--/Section Slide -->
                                        
                                        
                                        <!-- Section Slide -->
                                        <div class="swiper-slide">                                        
                                            <div class="img-mask">
                                                <div class="section-wrap-image">
                                                	<div class="section-image" data-src="assets/images/05hero.jpg"></div>
                                                </div>                                      
                                            </div>
                                            <a class="showcase-link-project"  href="/project05"></a>
                                            <div class="slide-caption">                                
                                                <h2 class="slide-title">INFO BUGS</h2>
                                                <h4 class="slide-cat"><span data-hover="View Case">Design</span></h4>
                                            </div>                                        
                                        </div>
                                        <!--/Section Slide -->
                                        
                                        
                                        <!-- Section Slide -->
                                        <div class="swiper-slide">                                    
                                            <div class="img-mask">
                                                <div class="section-wrap-image">
                                                	<div class="section-image" data-src="assets/images/06hero.jpg"></div>
                                                </div>                                   
                                            </div>
                                            <a class="showcase-link-project"  href="/project06"></a>
                                            <div class="slide-caption">                                
                                                <h2 class="slide-title">NEON DUDE</h2>
                                                <h4 class="slide-cat"><span data-hover="View Case">Photography</span></h4>
                                            </div>                                     
                                        </div>
                                        <!--/Section Slide -->
                                        
                                        
                                        <!-- Section Slide -->
                                        <div class="swiper-slide">                                    
                                            <div class="img-mask">
                                                <div class="section-wrap-image">
                                                	<div class="section-image" data-src="assets/images/07hero.jpg"></div>
                                                </div>                                    
                                            </div>
                                            <a class="showcase-link-project"  href="/project07"></a>
                                            <div class="slide-caption">                                
                                                <h2 class="slide-title">SPORT BLACK</h2>
                                                <h4 class="slide-cat"><span data-hover="View Case">Design</span></h4>
                                            </div>                                     
                                        </div>
                                        <!--/Section Slide -->
                                        
                                        
                                        <!-- Section Slide -->
                                        <div class="swiper-slide">                                    
                                            <div class="img-mask">
                                                <div class="section-wrap-image">
                                                	<div class="section-image" data-src="assets/images/08hero.jpg"></div>
                                                </div>                                  
                                            </div>
                                            <a class="showcase-link-project"  href="/project08"></a>
                                            <div class="slide-caption">                                
                                                <h2 class="slide-title">WILD HORSE</h2>
                                                <h4 class="slide-cat"><span data-hover="View Case">Photography</span></h4>
                                            </div>                                   
                                        </div>
                                        <!--/Section Slide -->
                                        
                                        <!-- Section Slide -->
                                        <div class="swiper-slide">                                    
                                            <div class="img-mask">
                                            	<div class="section-wrap-image">
                                                	<div class="section-image" data-src="assets/images/09hero.jpg"></div>
                                                </div>                                    
                                            </div>
                                            <a class="showcase-link-project"  href="/project09"></a>
                                            <div class="slide-caption">                                
                                                <h2 class="slide-title">FOREST HOUSE</h2>
                                                <h4 class="slide-cat"><span data-hover="View Case">Architecture</span></h4>
                                            </div>                                     
                                        </div>
                                        <!--/Section Slide -->
                                        
                                        
                                        <!-- Section Slide -->
                                        <div class="swiper-slide">                                    
                                            <div class="img-mask">
                                            	<div class="section-wrap-image">
                                                	<div class="section-image" data-src="assets/images/10hero.jpg"></div>
                                                </div>                                    
                                            </div>
                                            <a class="showcase-link-project"  href="/project10"></a>
                                            <div class="slide-caption">                                
                                                <h2 class="slide-title">THUNDER STRIKE</h2>
                                                <h4 class="slide-cat"><span data-hover="View Case">Photography</span></h4>
                                            </div>                                   
                                        </div>
                                        <!--/Section Slide -->               
                                        
                                    </div>                                  
                                </div>                           
                            </div>    
                            <!-- Showcase Holder -->


        </div>
        <!--/Main Content -->
    </div>
    <!--/Main -->


</div>
<!--/Content Scroll -->


<!-- Footer -->
<app-footer-carousel></app-footer-carousel>
<!--/Footer -->


<div class="thumb-container">
    <div class="thumb-page" data-src="assets/images/01hero.jpg"></div>
    <div class="thumb-page" data-src="assets/images/02hero.jpg"></div>
    <div class="thumb-page" data-src="assets/images/03hero.jpg"></div>
    <div class="thumb-page" data-src="assets/images/04hero.jpg"></div>
    <div class="thumb-page" data-src="assets/images/05hero.jpg"></div>
    <div class="thumb-page" data-src="assets/images/06hero.jpg"></div>
    <div class="thumb-page" data-src="assets/images/07hero.jpg"></div>
    <div class="thumb-page" data-src="assets/images/08hero.jpg"></div>
    <div class="thumb-page" data-src="assets/images/09hero.jpg"></div>
    <div class="thumb-page" data-src="assets/images/10hero.jpg"></div>
</div>