<main>

  <!-- Preloader -->
  <div class="preloader-wrap">
    <div class="outer">
      <div class="inner">
        <div class="percentage" id="precent"></div>
        <div class="trackbar">
          <div class="loadbar"></div>
        </div>
        <div class="headphones"></div>
        <div class="headphones-text">Turn up the volume for the<br>best experience</div>
      </div>
    </div>
  </div>
  <!--/Preloader -->
  <div class="cd-index cd-main-content">

    <!-- Page Content -->
    <div id="page-content" class="light-content">
      <app-header></app-header>
      <router-outlet></router-outlet>
    </div>
  </div>
</main>