<!-- Content Scroll -->
<header class="classic-menu"><app-header></app-header></header><div id="content-scroll">


    <!-- Main -->
    <div id="main">

        <!-- Hero Section -->
        <div id="hero" class="has-image">
            <div id="hero-styles" class="parallax-onscroll">
                <div id="hero-caption">
                    <div class="inner">
                        <div class="hero-subtitle">Photography</div>
                        <div class="hero-title">
                            <span>T</span>
                            <span>H</span>
                            <span>E</span>
                            <span> </span>
                            <span>Q</span>
                            <span>U</span>
                            <span>E</span>
                            <span>E</span>
                            <span>N</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="hero-bg-wrapper">
            <div id="hero-image-parallax">
                <div id="hero-bg-image" style="background-image:url(assets/images/01hero.jpg)"></div>
            </div>
        </div>
        <!--/Hero Section -->


        <!-- Main Content -->
        <div id="main-content">
            <div id="main-page-content">

                <!-- Row -->
                <div class="vc_row row_padding_top row_padding_bottom text-align-center small">

                    <hr>

                    <h2 class="has-mask">A digital project that feature famous people in unexpected situations.</h2>


                </div>
                <!--/Row -->


                <!-- Row -->
                <div class="vc_row  full">

                    <figure class="has-animation has-parallax">
                        <img src="assets/images/projects/ss04.jpg" alt="Image Title">
                        <figcaption>Image Caption</figcaption>
                    </figure>

                </div>
                <!--/Row -->


                <!-- Row -->
                <div class="vc_row row_padding_top small">

                    <h2 class="has-mask">Unrivalled digital production expertise to produce world-class visuals.</h2>

                    <hr>

                    <div class="one_half"></div>

                    <div class="one_half last">
                        <p class="has-animation">After weeks of planning and countless hours in post-production, my
                            collaboration with Robert Frolich at Filtre Studio on our series is almost complete.</p>
                        <a href="https://www.behance.net/gallery/68547321/Queen-For-A-Day" target="_blank"
                            class="link has-animation"><span>Read More</span></a>
                    </div>



                </div>
                <!--/Row -->


                <!-- Row -->
                <div class="vc_row row_padding_top row_padding_left row_padding_right full">

                    <figure class="has-animation has-parallax">
                        <img src="assets/images/projects/ss01.jpg" alt="Image Title">
                        <figcaption>Image Caption</figcaption>
                    </figure>

                </div>
                <!--/Row -->


            </div>
            <!--/Main Page Content -->

            <!-- Project Navigation -->
            <div id="project-nav">
                <div class="next-project-wrap">
                    <div class="next-project-image">
                        <div class="next-project-image-bg" style="background-image:url(assets/images/02hero.jpg)"></div>
                    </div>
                    <div class="next-project-title">
                        <div class="inner">
                            <div class="main-subtitle has-animation" data-delay="100">
                                <div class="subtitle-info">Next Project</div>
                                <div class="subtitle-name">Photography</div>
                            </div>
                            <a class="main-title has-animation next-ajax-link-project hide-ball" data-delay="150"
                            (click)="goAfter('/project02')">
                                <span>D</span>
                                <span>A</span>
                                <span>R</span>
                                <span>K</span>
                                <span> </span>
                                <span>P</span>
                                <span>A</span>
                                <span>T</span>
                                <span>H</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!--/Project Navigation -->


        </div>
        <!--/Main Content -->
    </div>
    <!--/Main -->


    <!-- Footer -->
    <footer class="hidden"><app-footer-hidden></app-footer-hidden></footer>
    <!--/Footer -->


</div>
<!--/Content Scroll -->