   
            <!-- Content Scroll -->
            <div id="content-scroll">
            
            
                <!-- Main -->
                <div id="main">
                
                    <!-- Hero Section -->
                    <div id="hero" class="has-image">
                        <div id="hero-styles" class="parallax-onscroll">
                            <div id="hero-caption">
                                <div class="inner">
                                    <div class="hero-subtitle">Photography</div>    
                                    <div class="hero-title">
                                        <span>W</span>
                                        <span>I</span>
                                        <span>L</span>
                                        <span>D</span>
                                        <span> </span>
                                        <span>H</span>
                                        <span>O</span>
                                        <span>R</span>
                                        <span>S</span>
                                        <span>E</span>	
                                    </div>                                
                                </div>
                            </div>                                            
                        </div>
                    </div>
                    <div id="hero-bg-wrapper">
                        <div id="hero-image-parallax">
                            <div id="hero-bg-image" style="background-image:url(assets/images/08hero.jpg)"></div>
                        </div>
                    </div>                         
                    <!--/Hero Section -->   
                         
                    
                    <!-- Main Content -->
                    <div id="main-content">
                        <div id="main-page-content">
                            
                            <!-- Row -->
                            <div class="vc_row row_padding_top row_padding_bottom text-align-center">
                                
                                <hr>
                                 
                                <div class="one_fourth"></div>
                                    
                                <div class="two_fourth">
                                    <h2 class="has-mask">A digital project that feature famous people in unexpected situations.</h2>
                                </div>
                                
                            </div>
                            <!--/Row -->
                            
                            
                            <!-- Row --> 
                            <div class="vc_row  full">
                                                        
                                <figure class="has-animation has-parallax">
                                    <img src="assets/images/projects/wh01.jpg" alt="Image Title">
                                </figure>
                            
                            </div>
                            <!--/Row -->
                            
                            
                            <!-- Row -->
                            <div class="vc_row row_padding_top small text-align-center">
                            
                                <h2 class="has-mask">Unrivalled digital production expertise to produce world-class visuals.</h2>
                                                                                                    
                            </div>
                            <!--/Row -->
                         
                            
                            <!-- Row --> 
                            <div class="vc_row row_padding_top row_padding_left row_padding_right full">
                                
                                <figure class="has-animation">
                                    <img src="assets/images/projects/wh02.jpg" alt="Image Title">
                                </figure>
                                
                                <hr><hr>
                                
                                <div class="one_half">
                                	<figure class="has-animation">
                                        <a href="assets/images/projects/wh03.jpg" class="image-link"><img src="assets/images/projects/wh03.jpg" alt="Image Title"></a> 
                                    </figure>
                                </div>
                                
                                <div class="one_half last">
                                	<figure class="has-animation" data-delay="100" >
                                        <a href="assets/images/projects/wh04.jpg" class="image-link"><img src="assets/images/projects/wh04.jpg" alt="Image Title"></a>
                                    </figure>
                                </div>
                            
                            </div>
                            <!--/Row -->
                        
                        
                        </div>
                        <!--/Main Page Content --> 
                        
                        <!-- Project Navigation --> 
                        <div id="project-nav">
                            <div class="next-project-wrap">
                                <div class="next-project-image">
                                    <div class="next-project-image-bg" style="background-image:url(assets/images/09hero.jpg)"></div>
                                </div>
                                <div class="next-project-title">
                                    <div class="inner">
                                        <div class="main-subtitle has-animation" data-delay="100">
                                            <div class="subtitle-info">Next Project</div>
                                            <div class="subtitle-name">Architecture</div>
                                        </div>
                                        <a class="main-title has-animation next-ajax-link-project hide-ball" data-delay="150"  routerLink="/project09">
                                            <span>F</span>
                                            <span>O</span>
                                            <span>R</span>
                                            <span>E</span>
                                            <span>S</span>
                                            <span>T</span>
                                            <span> </span>
                                            <span>H</span>
                                            <span>O</span>
                                            <span>U</span>
                                            <span>S</span>
                                            <span>E</span>
                                        </a>             
                                    </div>                   
                                </div>
                            </div>
                        </div>      
                        <!--/Project Navigation -->
                                                
                                
                    </div>
                    <!--/Main Content --> 
                </div>
                <!--/Main --> 
                
                
                <!-- Footer -->
                 <footer class="hidden"><app-footer-hidden></app-footer-hidden></footer>
                <!--/Footer -->
            
        
        	</div>
            <!--/Content Scroll -->